/* variables */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,700&family=Roboto:wght@300;400;500;700&display=swap');

html {
	font-size: clamp(1rem, 0.75rem + 0.3vw, 2rem);
	color-scheme: light;
}

@font-face {
	font-family: 'Cairo';
	font-weight: 500;
	src:
		local('Cairo SemiBold'),
		url('./assets/Cairo-SemiBold.woff') format('woff');
	unicode-range: U+0600-06FF;
}

:root {
	/* type */
	--sans-serif: 'Cairo', 'Roboto', sans-serif;
	--serif: 'Bricolage Grotesque', serif;

	--fs-small: 0.75rem;
	--fs-base: 0.875rem;
	--fs-large: 1rem;

	--spacing-8: 0.5rem;
	--spacing-16: 1rem;
	--spacing-24: 1.5rem;
	--spacing-32: 2rem;
	--spacing-48: 3rem;

	--scrollbar-width: 0.2rem;
	--scrollbar-height: 0.2rem;
}
/* themes */
:root {
	color-scheme: light;

	/* colors */
	--h: 151;
	--s: 94%;
	--l: 35%;
	--color-body: hsl(var(--h), 10%, 85%);
	--color-primary: hsl(var(--h), var(--s), var(--l));
	--color-semantic-red: hsl(0, 76%, 52%);
	--color-text: #000;
	--color-text-on-primary: #fff;
	--color-fields: hsl(var(--h), 25%, 86%);

	--color-background: hsl(var(--h), 10%, 95%);
	--color-background-1: hsl(var(--h), 10%, 85%);
	--color-background-2: hsl(var(--h), 10%, 70%);

	--color-border: hwb(160 21% 77%);

	--color-text-90: hsl(0, 0%, 10%);
	--color-text-70: hsl(0, 0%, 30%);
	--color-text-60: hsl(0, 0%, 40%);
}
:root[data-theme='dark'] {
	color-scheme: dark;

	--color-body: hsl(var(--h), 3%, 22%);
	--color-text: #fff;
	--color-text-on-primary: #000000;
	--color-fields: hsl(var(--h), 2%, 24%);

	--color-muted: hsl(148, 36%, 31%);
	--color-grey: hsl(157, 5%, 40%);
	--color-grey-2: hsl(154, 5%, 30%);

	--color-background: hsl(var(--h), 3%, 15%);
	--color-background-1: hsl(var(--h), 3%, 13%);
	--color-background-2: hsl(var(--h), 3%, 9%);

	--color-text-90: hsl(0, 0%, 90%);
	--color-text-70: hsl(0, 0%, 70%);
	--color-text-60: hsl(0, 0%, 60%);
}

:root[data-color='pink'] {
	--h: 3;
	--s: 74%;
	--l: 76%;
	--color-text-on-primary: #000;
}
:root[data-color='orange'] {
	--h: 34;
	--s: 90%;
	--l: 55%;
	--color-text-on-primary: #000;
}
:root[data-color='orange'][data-theme='dark'] {
	--h: 34;
	--s: 90%;
	--l: 55%;
	--color-text-on-primary: #000;
}
:root[data-color='blue'] {
	--h: 219;
	--s: 89%;
	--l: 52%;
}
:root[data-color='blue'][data-theme='dark'] {
	--h: 219;
	--s: 89%;
	--l: 65%;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
	width: var(--scrollbar-width);
	height: var(--scrollbar-height);
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: color-mix(in srgb, var(--color-background) 60%, white);
	/* border: 4px solid var(--color-background); */
	border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: color-mix(in srgb, var(--color-background) 70%, white);
}
